<article class="article">
    <h3 title="article__title">articulo</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt ipsa atque, debitis recusandae aperiam expedita fuga laudantium obcaecati? Totam, distinctio nam. Similique at repellendus consectetur. Reiciendis quidem a quam voluptate.</p>
</article>
<article>
    <h3>articulo</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt ipsa atque, debitis recusandae aperiam expedita fuga laudantium obcaecati? Totam, distinctio nam. Similique at repellendus consectetur. Reiciendis quidem a quam voluptate.</p>
</article>
<article>
    <h3>articulo</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt ipsa atque, debitis recusandae aperiam expedita fuga laudantium obcaecati? Totam, distinctio nam. Similique at repellendus consectetur. Reiciendis quidem a quam voluptate.</p>
</article>
