<aside class="aside">
  <div class="author">
    <img class="author__img"  src="/images/IMG_5693_1.jpg" alt="">
    <h4>autor</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat velit nihil, incidunt quam atque quia aliquid rerum ducimus inventore asperiores, nostrum quisquam unde accusantium? Repudiandae dolorum ad praesentium dolore sunt?</p>
    
  </div>
  <div class="list">
  <ul class="list__sections">
    <li>SECCIÓN1</li>
    <li>SECCIÓN2</li>
    <li>SECCIÓN3</li>
    <li>SECCIÓN4</li>
    <li>SECCIÓN5</li>
    <li>categoría 1</li>
    <li>categoría 2</li>
    <li>categoría 3</li>
    <li>categoría 4</li>
    <li>categoría 5</li>
  </ul>
</div>
</aside>